.root{
    -fx-background-color: linear-gradient(to bottom right, #b49be1 , #d6eef8 ,#c1c8e4);
}

.slider .track {
    -fx-pref-height:5;
}
.text-field {
    font-family: 'Open Sans', sans-serif;
    -fx-text-fill: white;
}

.leftpanel{
 -fx-background-color: #E5E5EA ;

}


/*.button{*/
/*    -fx-background-color: transparent;*/
/*    -fx-border-color: white;*/
/*    -fx-background-insets: 0,1,2,3;*/
/*    -fx-background-radius: 3,2,2,2;*/
/*    -fx-padding: 12 30 12 30;*/
/*    -fx-text-fill: white;*/
/*    -fx-font-size: 16px;*/
/*}*/
/*.button:hover{*/
/*    -fx-background-color: white;*/
/*    -fx-border-color: #c1c8e4;*/
/*    -fx-text-fill: #8694ca;*/
/*}*/
/*.button .text-field {*/
/*    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);*/
/*}*/




